
<html>
<header>
<title>API</title>
<link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel= "stylesheet" href="/stylesheets/style.css"/>

</header>
<body>
<div class="container">
      <div class="header clearfix">
      <h1 class="heading" align= "center">COMP306 003 API Project</h1> 
		{{{body}}}
      </div> 

      <footer class="footer">
        <p>&copy; Centennial @ 2017</p>
      </footer>

    </div> <!-- /container --></body>
</html>