<header>
<link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel= "stylesheet" href="/stylesheets/style.css"/>

<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

</header>


<div class="container">

<div class="form-style-2">
<div class="form-style-2-heading">Add New Inventory Data</div>

<form id= "form" method="post" action="http://abatist3-eval-prod.apigee.net/api_proj_comp306">

<label for="field1"><span>Product Name <span class="required">*</span> </span><input type="text" class="input-field" name="product"  /></label>

<label for="field2"><span>Price of Product <span class="required">*</span> </span><input type="text" class="input-field" name="price" /></label>

<label for="field2"><span>Quantity <span class="required">*</span> </span><input type="text" class="input-field" name="quantity"  /></label>

<label for="field5"><span>Description <span class="required">*</span></span> <textarea rows="4" cols="50" name="description" class="textarea-field"></textarea></label>

<label for="field2"><span>Today's Date <span class="required">*</span> </span><input type="text" class="input-field" name="date"  /></label>

<label><input type= "submit" id ="add" value="Submit" class ="update"/></label> 
<label><input type= "button" id ="cancel"  value="Cancel" class ="cancel"/></label> 
</form>
</div>


</div> <!-- Div of Container ends here --> 

<script type="text/javascript">

var url_APP = 'http://localhost:3000';
var url_API = 'http://abatist3-eval-prod.apigee.net/api_proj_comp306?apikey=lLp1I3ucA5UWHVcCz6W7d7GzAyEcmzfS';

//cancel to go home page
 document.getElementById("cancel").onclick = function () {
        window.location.href = url_APP;
    };

  
//form validation with Jquery 
$(document).ready(function () {

    $('#form').validate({ 
        rules: {
            product: {
                required: true,
                //email: true
            },
            price: {
                required: true,
                //minlength: 5
            },
             quantity: {
                required: true,
                //minlength: 5
            },
             description: {
                required: true,
                //minlength: 5
            },
            date: {
              required: true,
            },
        },
          messages: {

            product: "is required", 
            price: "is required",
            quantity: "is required",
            description: "is required",
            date: "is required"

           }

    });

});


jQuery("#form").submit(function(e){
    //The following stops the form from redirecting
    e.preventDefault();

   $.ajax({
      url: url_API,
       method: 'post',
       dataType : 'json', // data type
       data : $("#form").serialize()
    }).then(function(res) { 

    
     window.location.href = url_APP ;

    });


}); 

</script>