<header>
<link rel= "stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel= "stylesheet" href="/stylesheets/style.css"/>

<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

</header>

<body>
<div class="container">

<div class="form-style-2">
<div class="form-style-2-heading">Update Inventory Data</div>
<span id='errorMessageSpan' style='display:none; color: red; font-size: large;'></span>

<form id= "form" >

<label for="field1"><span>Product Name <span class="required">*</span> </span><input type="text" class="input-field" name="product"  id = "product"/></label>

<label for="field2"><span>Price of Product <span class="required">*</span> </span><input type="text" class="input-field" name="price" id ="price"/></label>

<label for="field2"><span>Quantity <span class="required">*</span> </span><input type="text" class="input-field" name="quantity" id = "quantity"  /></label>

<label for="field5"><span>Description <span class="required">*</span></span> <textarea rows="4" cols="50" name="description" id ="description" class="textarea-field"></textarea></label>

<label for="field2"><span>Today's Date <span class="required">*</span> </span><input type="text" class="input-field" name="date"  id = "date" /></label>

<label><input type= "submit" id ="add" value="Submit" class ="update"/></label> 
<label><input type= "button" id ="cancel"  value="Cancel" class ="cancel"/></label> 
</form>
</div>


</div> <!-- Div of Container ends here --> 

<script type="text/javascript">

var url_APP = 'http://localhost:3000';
var url_API = 'http://abatist3-eval-prod.apigee.net/api_proj_comp306';

//cancel to go home page
 document.getElementById("cancel").onclick = function () {
        window.location.href = url_APP;
    };


  
//form validation with Jquery 
$(document).ready(function () {

    $('#form').validate({ // initialize the plugin
        rules: {
            product: {
                required: true,
                //email: true
            },
            price: {
                required: true,
                //minlength: 5
            },
             quantity: {
                required: true,
                //minlength: 5
            },
             description: {
                required: true,
                //minlength: 5
            },
            date: {
              required: true,
            },
        },
          messages: {

            product: "is required", 
            price: "is required",
            quantity: "is required",
            description: "is required",
            date: "is required"

           }

    }); 

// Pre populating the form 
var b = location.href; 
var val = b.split('/')[4];

$.ajax({ 

  url: url_API +  '/' + val,
  method: 'GET',
  dataType: 'json'

}).then(function(res){
  
  var product = res.product;
  var price = res.price;
  var quantity = res.quantity;
  var description = res.description;
  var date = res.date;
  console.log(quantity);

  document.getElementById("product").value = product; 
  document.getElementById("price").value = price; 
  document.getElementById("quantity").value = quantity; 
  document.getElementById("description").value = description; 
  document.getElementById("date").value = date; 

}); //ajaxcallends 

    $("#form").submit(function(e){

      var current_url = location.href; 
      var value = current_url.split('/')[4];
      //The following stops the form from redirecting
      e.preventDefault();

      // hide the error msg
      $('#errorMessageSpan').css('display','none');

      // if fields are not valid, do not submit
      var isValid = $(this).valid();
      if(!isValid) {
        return;
      } else {
        // If all is valid, Make POST request
        $.ajax({
            url: url_API +  '/' + value,
            method: 'PUT',
            dataType: 'json',
            data: $('form').serialize()
          }).then(function(res) { 
            alert('Item updated succesfully!');
            window.location.href = url_APP + '/show';
          },function(err) {
            alert('Item could not be updated, please check the fields and try again!');

            // show the error msg
            $('#errorMessageSpan').css('display','block');
            $('#errorMessageSpan').text(err.responseText);
        }); 
      }
  });

});

</script>